* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --element-color: white;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}

.header-container {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  padding-inline: 24px;
  /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent; */
}

.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.theme-changer {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* safety ke liye */
}

.theme-changer::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.theme-changer:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.theme-changer {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Old Edge */
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.countries-container {
  max-width: 1280px;
  margin-inline: auto;
  margin-top: 64px;
  gap: 93px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.countries-flag {
  display: inline-block;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: var(--element-color);
}

.countries-flag:hover {
  transform: scale(1.05);
}

.countries-flag img {
  width: 100%;
  height: 166px;
  object-fit: cover;
}

.flag-text {
  padding-inline: 20px;
  padding-bottom: 16px;
}

.title {
  font-weight: 24px;
  margin-block: 16px;
}

.flag-text p {
  margin-block: 8px;
}

.search-filter-Container {
  max-width: 1280px;
  margin: auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.Search-Container {
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.3);
  width: 500px;
  cursor: pointer;
  font-size: 24px;
  color: gray;
  border-radius: 4px;
}

.Search-Container svg {
  vertical-align: middle;
  margin-left: 16px;
  color: var(--text-color);
  margin-right: 10px;
}

.Search-Container input {
  width: 90%;
  outline: none;
  border: none;
  padding: 16px 12px;
  font-size: 16px;
  background-color: inherit;
  color: var(--text-color);
}

.Search-Container input::placeholder {
  color: rgb(181, 177, 177);
}

.Filter-bar {
  width: 250px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--element-color);
  font-size: 16px;
  color: var(--text-color);
}

@media (max-width: 400px) {
  .header-content {
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  .countries-flag {
    max-width: 100%;
    margin: auto;
  }

  .flag-text {
    font-size: 14px;
  }

  .Search-Container {
    display: flex;
    align-items: center;
    width: 300px;
  }

  .search-filter-Container {
    flex-direction: column;
    margin-left: auto;
  }

  .Search-Container svg {
    margin-left: 8px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  .Search-Container input {
    margin-right: 8px;
  }
}
