* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --element-color: white;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}

.header-container {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  padding-inline: 24px;
}

.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.header-content h2 {
  cursor: pointer;
}

.header-content #themeIcon {
  /* background-color: red; */
  /* border: 2px solid red; */
  font-size: 24px;
}

.theme-changer {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* safety ke liye */
}

.theme-changer::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.theme-changer:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.theme-changer {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.theme-changer i {
  font-size: 22px;
}

main {
  max-width: 1290px;
  margin: auto;
}

.country-details-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-left: 24px;
}

.Back-button {
  display: inline-block;
  background-color: var(--background-color);
  margin-top: 48px;
  border-radius: 10px;
  padding: 8px 24px;
  text-decoration: none;
  box-shadow: 0 2px 2px 0px rgb(2, 37, 9);
  color: var(--text-color);
  cursor: pointer;
}

.Back-button:hover {
  box-shadow: 0 0px 16px 0px rgb(2, 37, 9);
}

.details-container {
  display: flex;
  margin-top: 42px;
  gap: 100px;
}

.details-container img {
  max-width: 30%;
  height: 20%;
  border-radius: 5px;
}

.details-container {
  align-items: center;
}

.detail-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 140px;
  max-height: 190px;
  flex-wrap: wrap;
}

.detail-text p {
  margin: 0;
}

.footer {
  margin-top: 14px;
}

.Border-container a {
  border: 2px solid rgb(185, 182, 182);
  text-decoration: none;
  color: var(--text-color);
  padding: 2px 10px;
  border-radius: 3px;
}

.Border-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}

.Border-container a:hover {
  box-shadow: 0 0px 16px 0px rgb(2, 37, 9);
}

@media (max-width: 1000px) {
  .details-container {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  
  .details-container img {
    max-width: 90%;
  }

  /* .header-content {
    font-size: 10px;
  } */

  .Back-button {
    margin-top: 16px;
  }

  .text-container {
    font-size: 16px;
  }

  .detail-text {
    max-height: unset;
    row-gap: 8px;
    column-gap: 140px;
  }

  .footer {
    margin-top: 12px;
    display: block;
  }
}

@media (max-width: 390px) {
  .header-content {
    font-size: 10px;
  }
}

@media (max-width: 1279px){
  main{
    margin: 16px;
  }
} 
